<h1>Login Page</h1>

<%= form_tag('/corporations') do %>
  メールアドレス：<%= text_field_tag :email %><br />
  パスワード：<%= text_field_tag :pass %><br />

<%= submit_tag 'ログイン', :name => "login_flag" %><br />
<%= link_to "新規登録", 'new' %>
<% end %>
