<h1>Listing students</h1>
<table>
  <thead>
    <tr>
      <th>バイト名</th>
      <th>詳細</th>
      <th>企業</th>
      <th>期限</th>
      <th>バイトカテゴリ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student['name'] %></td>
        <td><%= student['email'] %></td>
        <td><%= student['password'] %></td>
        <td><%= student['skill'] %></td>
        <td><%= student['apeal'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
